:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body{
  font-family: "Josefin",sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: "Josefin",sans-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  font-family: "Josefin",sans-serif !important;

}
.logo{
  width: 50%;
}

.nav-link{
  color: var(--mainDark) !important;
  font-size: 20px;

}

.navbar {
  background: #bccaca;
}

.banner{
  background: url('/img/banner.png');
   background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;;
}

@media(max-width:769px){
  .banner{
    height: 40vh;
  }
}

a.nav-link{
  font-size:16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner_txt{
  position: absolute;
    text-align: center;
    margin: 25% 10% 30% 50%;
    font-family: fantasy;
    color:#009ffd;
}
